appdirs==1.4.4
bs4==0.0.1
certifi==2021.10.8
cldfbench==1.8.0
-e git+https://github.com/phlorest/greenhill_et_al_subm@105d828f5919580a890f4ed320cc1244360dcecf#egg=cldfbench_greenhill_et_al_subm
-e git+https://github.com/phlorest/grollemund_et_al2015.git@c03c833ba4dc97d93f57d31f298e8df74cac337e#egg=cldfbench_grollemund_et_al2015
cldfcatalog==1.3.2
clldutils==3.10.1
colorlog==6.6.0
csvw==1.11.0
ete3==3.1.2
gitdb==4.0.9
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
isodate==0.6.0
Markdown==3.3.6
newick==1.3.1
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
-e git+https://github.com/cldf/phlorest/@b05bf58287c37f02f3ddce794649ac5a2228d56d#egg=phlorest
pluggy==1.0.0
purl==1.6
py==1.11.0
pybtex==0.24.0
pycldf==1.23.0
pyconcepticon==2.8.0
pycountry==20.7.3
pyglottolog==3.6.0
PyQt5==5.15.6
pytest==6.2.5
python-dateutil==2.8.2
python-nexus==2.2.0
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.62.3
uritemplate==4.1.1
urllib3==1.26.7
zenodoclient==0.4.1
zipp==3.6.0